\AntiLagMod\AntiLagMod\bin
*.dll
AntiLagMod/AntiLagMod/bin/Debug/Plugins.lnk
AntiLagMod/AntiLagMod/bin/Debug/Microsoft.Build.Utilities.Core.pdb
AntiLagMod/AntiLagMod/bin/Debug/Microsoft.Build.Tasks.Core.pdb
AntiLagMod/AntiLagMod/bin/Debug/Microsoft.Build.Framework.pdb
AntiLagMod/AntiLagMod/bin/Debug/AntiLagMod.pdb
AntiLagMod/AntiLagMod/StreamingAssets/temp/almmodDC
AntiLagMod/AntiLagMod/bin/Debug/AA Copy Dll.bat
